#bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    opacity: 0.15;
    object-fit: cover;
}

header {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title,
#subtitle {
    margin: 1.25rem 0;
}

#about_us {
    max-width: fit-content;
    padding: 8rem 0 10rem;
    margin: 0 auto;
}

#about_us > p {
    font-size: 1.75rem;
}

#pizzas_list_wrapper {
    width: 62.5svw;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

#pizzas_list_wrapper::before,
#pizzas_list_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2.75rem;
    pointer-events: none;
    z-index: 2;
}

#pizzas_list_wrapper::before {
    left: 0;
    background: linear-gradient(to right, #0a0a0a, transparent);
}

#pizzas_list_wrapper::after {
    right: 0;
    background: linear-gradient(to left, #0a0a0a, transparent);
}

@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.pizzas_list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    animation: infinite-scroll 20s linear infinite;
}

.pizza_card {
    text-align: center;
    margin-inline: 2.25rem;
}

.pizza_img {
    border-radius: 0.75rem;
}

@media screen and (max-width: 680px) {
    #about_us {
        padding: 4rem 0;
    }

    #about_us > p {
        max-width: 87.5svw;
        font-size: 1rem;
        margin: 0 auto;
    }

    #pizzas_list_wrapper {
        width: 100svw;
    }

    .pizza_card {
        margin-inline: 0;
    }

    .pizza_img {
        transform: scale(0.8);
    }
}
