#about_us {
    max-width: fit-content;
    margin: 0 auto 5.25rem;
}

#pizzas_list {
    display: flex;
    flex-direction: flex-row;
    gap: 2.75rem;
}

.pizza_card {
    text-align: center;
    background-color: #09090b;
}

.pizza_img {
    border-radius: 0.75rem;
}
